@import "variables";
@import "layouts/default";
@import "layouts/landing-pages";
@import "layouts/about";
@import "layouts/post";

$panel-bg-color: #222831;

html {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;

}

// .panel.panel-dark {
//     border: none;
//     .panel-heading {
//         padding: 30px;
//         text-align: center;
//         word-break: break-all;
//     }
// }

/*SVGs*/
.svg svg {
    display: inline-block;
}

.inline {
    display: inline-block;
}

.no-border {
    border: none;
}