@import "variables";
@import "layouts/default";
@import "layouts/landing-pages";
@import "layouts/about";

$panel-bg-color: #222831;

.panel.panel-dark {
    border: none;
    .panel-heading {
        padding: 30px;
        text-align: center;
        background: $panel-bg-color;
    }
}

//SVGs
.svg svg{
    display: inline-block;
}

.inline {
    display: inline-block;
}

.no-border {
    border: none;
}