@import "variables";
@import "layouts/default";
@import "layouts/landing-pages";

$panel-bg-color: #222831;

.panel.panel-dark {
    border: none;
    .panel-heading {
        padding: 30px;
        text-align: center;
        background: $panel-bg-color;
        background: -webkit-linear-gradient(45deg, lighten($panel-bg-color, 10%), $panel-bg-color, lighten($panel-bg-color, 10%));
        background: -o-linear-gradient(45deg, lighten($panel-bg-color, 10%), $panel-bg-color, lighten($panel-bg-color, 10%));
        background: -moz-linear-gradient(45deg, lighten($panel-bg-color, 10%), $panel-bg-color, lighten($panel-bg-color, 10%));
        background: linear-gradient(45deg, lighten($panel-bg-color, 10%), $panel-bg-color, lighten($panel-bg-color, 10%));
    }
}