<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ page.title }}</title>
{% if page.description %}
<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="author" content="{{ site.author.name }}">

<!-- Enable responsive viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Custom styles -->
<link href="{{ ASSET_PATH }}/css/main.css" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<!-- Fav and touch icons -->
<!-- Update these with your own images
  -->

<link rel="apple-touch-icon" sizes="120x120" href="{{ BASE_PATH }}assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ BASE_PATH }}assets/img/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ BASE_PATH }}assets/img/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ BASE_PATH }}assets/img/favicon/manifest.json">
<link rel="mask-icon" href="{{ BASE_PATH }}assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<!-- atom & rss feed -->
<!--<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">-->
<!--<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">-->